name: Todo Script Build

on:
  push:
    branches: [ "main" ]
    paths: [ "script/**" ]
  pull_request:
    branches: [ "main" ]
    paths: [ "script/**" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: latest

      - name: Setup Node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 24

      - name: Install dependencies
        run: cd script && pnpm install

      - name: Build
        run: cd script && pnpm run build

      - name: Upload artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: Todo Script
          path: ./script/updateVersionCode.js